{% extends "personal/header.html" %}

{% block content %}
<p>Hey, this page shows whether you connect to OpenStack API successfully......</p>
<p>[This page design can refer to OpenStack Horizon's Dashboard']</p>

<div>
    <ul>
        <li><a href='/project/testconn/listvm/'>List VM</a></li>
        <li><a href='/project/testconn/listimage/'>List Image</a></li>
        <li><a href='/project/testconn/createvm/'>Create VM</a></li>
        
    </ul>
</div>
<br><br>
<p>Below is a include page!</p>
{% include "testconn/includes/vm.html" %}

{% endblock %}

